@model AquaWorld.Models.Fish

@{
    ViewBag.Title = "Detay";
}

<h2>Balık Detay</h2>


<hr />
<div class="row">


    <div class="col-md-8">

        <b> Kategori Adı </b>
        <p>

            @Html.DisplayFor(model => model.category.ShortDesc)
        </p>

        <b>  Balık Adı </b>
        <p>

            @Html.DisplayFor(model => model.Name)
        </p>

        <b> Balık Kısa Açıklama </b>
        <p>

            @Html.DisplayFor(model => model.ShortDesc)
        </p>
        <b> Uzun Açıklama </b>
        <p>
            @Html.DisplayFor(model => model.LongDesc)
        </p>


    </div>
    <div class="col-md-4">


        @if (string.IsNullOrEmpty(Model.FishImage))
        {


            <svg class="bd-placeholder-img card-img-top" width="100%" height="220px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>@Model.Name</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">@Model.Name</text>
            </svg>

        }
        else
        {


            <img src="~/Img/@Model.FishImage" alt="Image" class="img-rounded" style="width:100%; height:200px;" />
            
        }

    </div>




</div>
<hr />
<p>
   
    @Html.ActionLink("Listeye Dön", "Index", "Home",null, new { @class = "btn btn-sm btn-primary" })
</p>
