@model AquaWorld.Models.Fish

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category.ShortDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.ShortDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FishImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FishImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FishId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
