@model AquaWorld.Models.Fish

@{
    ViewBag.Title = "Düzenle";
}

<h2>Balık Bilgilerini Düzenle</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FishId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Balık Adı", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name,  new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShortDesc,"Kısa Açıklama",  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ShortDesc,  new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.ShortDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LongDesc, "Uzun Açıklama", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.LongDesc, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.LongDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FishImage, "Resim", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.FishImage, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.FishImage, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <img src="~/Img/@Model.FishImage" class="card-img-top img-rounded" alt="..." style="width:100%; height:150px;">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "Kategori",  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, "Kategori Seçiniz", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listeye Geri Dön", "Index",new { @class="btn btn-sm btn-primary"})
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
